@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
    }
}



.form-control {
  position: relative;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 2px black solid;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: black;
  outline: 0;
}

.form-control label {
  position: absolute;
  top: 5px;
  font-weight: 400;
  color: grey;
  font-size: 16px;
  pointer-events: none;
}

.form-control label .span {
  display: inline-block;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus ~ label .span,
.form-control input:valid ~ label .span {
  transform: translateY(-24px);
  font-size: 14px;
}

.inp_produk_gambar[type="file"]::-webkit-file-upload-button {
  display: none;
}

.inp_produk, .inp_produk_gambar {
  width: 100%;
  height: 35px;
  padding-left: 6px;
  border-radius: 5px;
  margin-top: 5px;
  border: none;
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 3px 4px #D6D7D9, 0 -2px 2px #CECFD1, 0 -3px 2px #FEFEFE, inset 0 0 1px 1px #CECFD1;
  outline: none;
}

.inp_produk:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 3px 4px #D6D7D9, 0 -2px 2px blue, 0 -3px 2px #FEFEFE, inset 0 0 1px 1px blue;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
